#root {
  background:  no-repeat url("https://va-demo.okami101.io/admin/img/splash.79942c13.jpg");
  background-position: inherit;
  background-size:  cover
}

.btn-change {
  border-radius: 5px !important;
  background-color: yellow
}

.page-footer {
  background-color: #349eeb;
  padding-top: 50px;
}

.coppyright {
  background-color: #2772a8;
  padding: 30px;
}


.output {
  border: 1px solid #000;
  background-color: #ccc
}

.card {
  background-color: #3f96b5 !important;
  box-shadow:   10px 10px 10px 1px #25050560;
}

.text-link {
  color: white !important;
}