



.btn-change {
  border-radius: 5px !important;
  background-color: yellow
}

.page-footer {
  background-color: #349eeb;
  padding-top: 50px;
}

.coppyright {
  background-color: #2772a8;
  padding: 30px;
}


.output {
  border: 1px solid #000;
  background-color: #ccc
}